EC_ERP/target
EC_ERP/.settings
EC_ERP/.classpath
EC_ERP/.project
EC_ERP/.springBeans
EC_InventoryManagement/target
EC_InventoryManagement/.settings
EC_InventoryManagement/.classpath
EC_InventoryManagement/.project
